@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import "~@material/top-app-bar/dist/mdc.top-app-bar.css";
@import "~@material/icon-button/dist/mdc.icon-button.css";
@import "~@material/ripple/dist/mdc.ripple.css";
@import "~@rmwc/icon/icon.css";

@import "~@material/data-table/dist/mdc.data-table.css";
@import "~@rmwc/data-table/data-table.css";

@import "~@material/checkbox/dist/mdc.checkbox.css";
@import "~@material/form-field/dist/mdc.form-field.css";
@import "~@material/ripple/dist/mdc.ripple.css";

@import "~@material/tab-bar/dist/mdc.tab-bar.css";
@import "~@material/tab/dist/mdc.tab.css";
@import "~@material/tab-scroller/dist/mdc.tab-scroller.css";
@import "~@material/tab-indicator/dist/mdc.tab-indicator.css";
@import "~@material/ripple/dist/mdc.ripple.css";

:root {
  --mdc-theme-primary: #33658a;
  --mdc-theme-secondary: #86bbd8;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;

  font-family: "Poppins", sans-serif;

  background: #eeeeee;
}

.mdc-top-app-bar {
  background-color: #33658a;
  color: white;
}

.main-app-bar {
  --mdc-theme-primary: #fff;
  --mdc-theme-on-primary: #000;
  color: #000;
}
